html {
  font-family: "Oswald", sans-serif;
  box-sizing: border-box;
}
body {
  background-image: url(images/back5.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.panel {
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px 35px;
  width: 100%;
  max-width: 850px;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  justify-content: space-evenly;
}
.pricing-table {
  border-bottom: 1px solid #c21010;
}
.pricing-header {
  display: block;
  color: #c21010;
  letter-spacing: 1px;
  font-weight: 700px;
  border-bottom: 1px solid #c21010;
}
.pricing-img {
  max-width: 100%;
}
.pricing-img,
.extra-margin {
  margin-left: 10px;
}
.pricing-feature {
  list-style: none;
  font-size: 20px;
  font-weight: 700;
  margin: 50px 0 25px;
  color: #ffffff;
}
ul li::before {
  content: "\2022";
  color: #c21010;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.pricing-feature-item {
  letter-spacing: 2px;
  font-weight: 600px;
  font-size: 16px;
  line-height: 1.5em;
  padding: 15px 0;
}
.price {
  color: #c21010;
  font-size: 1.5em;
  font-weight: 700;
  margin: 0;
}
.pricing-button {
  border: 1px solid #c21010;
  background-color: #ff0303;
  color: #fff;
  font-size: 17px;
  border-radius: 30px;
  padding: 15px 25px;
  display: inline-block;
  text-decoration: none;
  margin: 25px 0;
  transition: background-color 200ms ease-in-out;
}
.pricing-button:hover,
.pricing-button:focus {
  background-color: #c21010;
  color: #ffffff;
  border: none;
}

@media (min-width: 900px) {
  .panel {
    flex-direction: row;
  }
  .pricing-table {
    padding: 15px 25px;
    border: none;
  }
}
@media (max-width: 899px) {
  .pricing-table:nth-of-type(3) {
    border: none;
  }
}
